html, body {
  height: 100%;
}
.navbar{
    background-color:transparent;
}
.flag {    
    height: 100%;
    width:100%;
    background-image: url("img/patriotic-flag.jpg");
    background-attachment: fixed;
    background-size: cover;
}
.sec-heading {    
    padding-top: 350px;
    height: 100%;
    width:100%;
    background-size: cover;
}
.sec-about {
    padding: 40px 40px 100px 40px;
    background-image: url("img/scorpion.jpg");
    background-attachment:fixed;
    background-size: cover;
    
}
.sec-skills{
    padding: 40px 40px 100px 40px;
    background: url('img/codebackground.jpg');
    background-size: 100% 100%;    
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:center;
}
.sec-projects{
    padding-bottom: 200px;
}


/*Font Styles*/

.about-p{
    font-family:'Lobster Two', cursive;
    color: white;
    font-size: 30px;
}
.lobster{
    font-family:'Lobster', cursive;
    font-size: 75px;
    color:white;
}
.lobster2{
    font-family: 'Lobster Two', cursive;
    font-size: 20px;
    color:white;
}
.lobster-alt{
    font-family:'Lobster', cursive;
    font-size: 45px;
    color:white;
}
.lobster3{
    font-family: 'Lobster Two', cursive;
    font-size: 20px;
}
.stroke{    
    -webkit-text-stroke: 1px white;   
    text-shadow:
         2px 2px 0 #000,
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

/*Card styles*/

.card{
    background-color:rgba(225, 225, 225, 0.8);
    padding:20px;
    border-radius:4px;
    margin: 15px;
    box-shadow: 1px 1px 3px black;
    width: 200px;
}
.card:hover{
    background-color:white;
    
}
.cardAbout{
   background-color:white;
    width: 300px;
	height: 350px;
    padding-top:20px;
    padding-left:50px;
    padding-right:50px;
    border-radius:4px;
    margin: 15px;
    
    box-shadow: 1px 1px 3px black;
}

.flip {	
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
}

.flip:hover .flipper,  
.flip.hover .flipper {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.flipper {
	
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;

	-moz-transition: 0.6s;
	-moz-transform-style: preserve-3d;
  
    -o-transition: 0.6s;
	-o-transform-style: preserve-3d;

	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

.front, .back {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
	backface-visibility: hidden;
	position: absolute;
}

.front {
	z-index: 2;
}

.back {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.cardProjects{
    background-color:rgba(225, 225, 225, 0.8);
    padding:20px;
    border-radius:4px;
    margin: 15px;
    box-shadow: 1px 1px 3px black;
    width: 600px;
}
.cardProjects:hover{
    background:linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 33, 86, .8));
    color: white;
}
.cardContact{
    background-color:white;
    padding:20px;
    border-radius:4px;
    margin: 15px;
    box-shadow: 1px 1px 3px black;
    width: 250px;
}


/*Flex box*/

.flexAbout{
    display:flex;
    flex-direction:row;
    justify-content:center;
}
.flexSkills{
    display:flex;
    flex-direction:row;
    justify-content:center;
    flex-wrap: wrap;
}
.flexProjects{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}
.flexProjects h4{ 
    background-color:rgba(225, 225, 225, 0.3);
    width: 85px;
    border: 1px solid white;
}
.flexContact{
    display:flex;
    flex-direction:row;
    justify-content:center;
}
.flexWords{
    display: flex;
    justify-content: center;
}

/*Buttons*/

.projectsButton{
    font-family:'Lobster', cursive;
    background-color:rgba(225, 225, 225, 0.3);
    width: 400px;
    border: 1px solid white;
    color:black;
}



