html, body {
  height: 100%;
}
.custom-icon {
    padding-top:2%;
    width: 15%;
}
.nav-button {
    color: white;
}
.navbar{
    background-color:transparent;
}
.flag {
    height: 100%;
    background-image: url("img/patriotic-flag.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.sec-heading {    
    padding-top: 350px;
    height: 100%;
    width:100%;
    background-size: cover;
}
.sec-about {
    padding: 40px 40px 100px 40px;
    background-image: url("img/scorpion.jpg");
    background-attachment:fixed;
    background-size: cover;
    background-repeat: no-repeat;    
}
.sec-skills{
    padding: 40px 40px 100px 40px;
    background-image: url("img/patriotic-flag.jpg");
    background-attachment:fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.sec-projects{
    padding: 40px 40px 100px 40px;
    background-image: url("img/codebackground.jpg");
    background-attachment:fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.sec-contact{
    margin-top: -5px;
    padding: 40px 40px 40px 40px;
    background-image: url("img/patriotic-flag.jpg");
    background-attachment:fixed;
    background-size: cover;
}
@media only screen and (max-device-width: 1024px) {
    .parallax{
        background-attachment: scroll;
    }
}

/*Font Styles*/

.about-p{
    font-family:'Lobster Two', cursive;
    color: white;
    font-size: 30px;
}
.lobster{
    font-family:'Lobster', cursive;
    font-size: 75px;
    color:white;
}
.lobster2{
    font-family: 'Lobster Two', cursive;
    font-size: 20px;
    color:white;
}
.lobster-alt{
    font-family:'Lobster', cursive;
    font-size: 45px;
    color:white;
}
.lobster3{
    font-family: 'Lobster Two', cursive;
    font-size: 20px;
}
.stroke{   
    text-shadow:
         2px 2px 0 #000,
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

/*Card styles*/

.card{
    background-color:rgba(225, 225, 225, 0.8);
    padding:20px;
    border-radius:4px;
    margin: 15px;
    box-shadow: 1px 1px 3px black;
    width: 200px;
    height: 150px;
}
.card:hover{
    background-color:white;
    
}
.card-projects{
    background-color:rgba(225, 225, 225, 0.8);
    padding:20px;
    border-radius:4px;
    margin: 15px;
    box-shadow: 1px 1px 3px black;
    width: 600px;
}
.card-projects:hover{
    background:linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 33, 86, .8));
    color: white;
}
.card-contact{
    background-color:white;
    padding:20px;
    border-radius:4px;
    margin: 15px;
    box-shadow: 1px 1px 3px black;
    width: 100px;
}

/*Flex box*/

.flex-about{
    display:flex;
    flex-direction:row;
    justify-content:center;
}
.flex-skills{
    display:flex;
    flex-direction:row;
    justify-content:center;
    flex-wrap: wrap;
}
.flex-projects{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}
.flex-projects h4{ 
    background-color:rgba(225, 225, 225, 0.3);
    width: 85px;
    border: 1px solid white;
    padding: 4px;
}
.flex-contact{
    display:flex;
    flex-direction:row;
    justify-content:center;
}
.flex-words{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.flex-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*Buttons*/

.projects-button{
    font-family:'Lobster', cursive;
    background-color:rgba(225, 225, 225, 0.3);
    width: 400px;
    border: 1px solid white;
    color:white;
    padding: 4px;
}
.phone {
    color: white;
    text-shadow:
    2px 2px 0 #00FF00,
   -1px -1px 0 #00FF00,  
   1px -1px 0 #00FF00,
   -1px 1px 0 #00FF00,
   1px 1px 0 #00FF00;
}
.mail {
    color: #ffff00;
}
.github {
    color: black;
}
.linkedin {
    color: #0077B5;
}



